EtDA/Debug/vc140.pdb
EtDA/Debug/vc140.idb
EtDA/Debug/vc120.idb
EtDA/Debug/vc120.pdb
EtDA/Debug/Map.obj
EtDA/Debug/Map.cod
EtDA/Debug/main.cod
EtDA/Debug/main.obj
*.obj
*.cod
*.tlog
*.log
*.cache
*.cache
BotCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
Bot/bin/Debug/Bot.exe
Bot/bin/Debug/Bot.exe.config
*.dll
*.pdb
/Bot/bin/Debug
/Bot/obj/Debug/Before-PostSharp
/Bot/obj/Debug
/BotCore/bin/Debug
*.db
